<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Movie</title>
</head>

<body>

		<h1>Movie</h1>

	<div th:each="review: ${reviews}">
		<img th:src="${review.image}" style="width: 304px; height: 228px"></img>
		<ul>
			<li><p th:text="|Movie: ${review.movieName}|"></p></li>
			<li><p th:text="|Movie ID: ${review.reviewId}|"></p></li>
			<li><p th:text="|Reviewer's Opinion: ${review.movieSummary}|"></p></li>
			<li><p th:text="|Movie Genre: ${review.reviewCategory}|"></p></li>
			<li><p th:text="|Movie Content: ${review.content}|"></p></li>
			<li><p th:text="|Synopsis: ${review.synopsis}|"></p></li>
		</ul>
		<a href="http://localhost:8080/reviews">Back to home</a>
	</div>

</body>
</html>